[submodule "Splash-3"]
	path = Splash-3
	url = https://github.com/jefg89/Splash-3.git
[submodule "buffer_overflow"]
	path = buffer_overflow
	url = git@github.com:jefg89/buffer_overflow.git
[submodule "pcf2bdf"]
	path = pcf2bdf
	url = https://github.com/ganaware/pcf2bdf
[submodule "tinyexr"]
	path = tinyexr
	url = https://github.com/syoyo/tinyexr
